:root {
  --black: #08080b;
  --grey: #2e3138;
  --accent: #f8e850;
  --white: #fefefe;
  --paragraph: #838383;
}



html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Be Vietnam Pro',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Inter',
    sans-serif;
  font-family: 'Kumbh Sans',
    sans-serif;
  font-family: 'Prata',
    serif;
  font-family: 'Roboto',
    sans-serif;
  font-family: 'Space Mono',
    monospace;
  color: var(--white);
}

p {
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Be Vietnam Pro',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Inter',
    sans-serif;
  font-family: 'Kumbh Sans',
    sans-serif;
  font-family: 'Prata',
    serif;
  font-family: 'Roboto',
    sans-serif;
  font-family: 'Space Mono',
    monospace;
  color: var(--paragraph);
}

/* Header  */
/* NAV  */
.nav-btn {
  background-color: var(--accent);
  padding: 10px;
  color: var(--black);
  border: solid 1px var(--accent);
}

/* END NAV  */
.header {
  background-color: var(--black);
  padding-bottom: 125px;
}

/* END Header  */

/* Companies  */
.companies {
  background-color: var(--black);
  padding-bottom: 125px;
}

.companies-list {
  list-style: none;
  display: flex;
  column-gap: 60px;
  justify-content: space-evenly;
}

/* END Companies  */
/* Articles  */
.articles {
  background-color: var(--black);
  padding-bottom: 125px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
}

.card {
  width: 45rem;
  background-color: var(--black);
}

/* END Articles  */