:root {
  --black: #08080b;
  --grey: #2e3138;
  --accent: #f8e850;
  --white: #fefefe;
  --paragraph: #838383;
}



html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Be Vietnam Pro',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Inter',
    sans-serif;
  font-family: 'Kumbh Sans',
    sans-serif;
  font-family: 'Prata',
    serif;
  font-family: 'Roboto',
    sans-serif;
  font-family: 'Space Mono',
    monospace;
  color: var(--white);
}

p,
a {
  font-family: 'Bai Jamjuree',
    sans-serif;
  font-family: 'Be Vietnam Pro',
    sans-serif;
  font-family: 'Comfortaa',
    cursive;
  font-family: 'Inter',
    sans-serif;
  font-family: 'Kumbh Sans',
    sans-serif;
  font-family: 'Prata',
    serif;
  font-family: 'Roboto',
    sans-serif;
  font-family: 'Space Mono',
    monospace;
  color: var(--paragraph);
}

h2 {
  font-size: 24px;
}

ul {
  list-style: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--accent);
}

.logo {
  font-size: 24px;
}

/* MEDIA QUERIES  */
@media (max-width: 990px) {

  html,
  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 18px;
  }
}

/* Header  */
/* NAV  */
.nav-btn {
  background-color: var(--accent);
  padding: 10px;
  color: var(--black);
  border: solid 1px var(--accent);
}

.nav-btn:hover {
  background-color: var(--black);
  border: solid 1px var(--accent);
  color: var(--accent);
}

/* END NAV  */
.header {
  background-color: var(--black);
  padding-bottom: 125px;
  max-width: 100%;
}

.header-content {
  display: block;
  width: 720px;
  margin-top: 100px;
}

/* HEADER MEDIA QUERIES  */
@media screen and (max-width:480px) {
  .header-content {
    display: block;
    width: 50px;
  }

}

@media screen and (max-width:800px) {
  .header-content {
    display: block;
    width: 600px;

  }
}

/* END Header  */

/* Companies  */
.companies {
  background-color: var(--black);
  padding-bottom: 125px;
}

.companies-list {
  list-style: none;
  display: flex;
  column-gap: 60px;
  justify-content: space-evenly;
}

/* COMAPANIES MEDIA QUERIES  */
@media screen and (max-width:480px) {
  .companies-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 400px;
  }
}

@media screen and (max-width:990px) {
  .companies-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

/* END Companies  */
/* Articles  */
.articles {
  background-color: var(--black);
  padding-bottom: 62.5px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
}

.card {
  width: 45rem;
  background-color: var(--black);
}

.bi-arrow-right {
  font-size: 24px;
  color: var(--white);
}

.title {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.title:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
}

/* ARTICLES MEDIA QUERIES  */
@media screen and (max-width:480px) {
  .cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-body {
    display: inline-block;
    width: 500px;
  }
}

@media screen and (max-width:800px) {
  .cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
    padding-left: 0px;
  }

  .card {
    display: block;
    width: 550px;
  }
}

/* END Articles  */
/* Information  */
.information {
  background-color: var(--grey);
  padding-top: 62.5px;
  padding-bottom: 62.5px;
}

.info-flex {
  display: flex;
  column-gap: 50px;
  justify-content: space-evenly;
}

/* INFORMATION MEDIA QUERIES */
@media (max-width:480px) {
  .info-flex {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width:800px) {
  .info-flex {
    display: flex;
    flex-direction: column;
  }
}

/* END Information  */
/* Contact  */
.contact {
  background-color: var(--black);
  padding-top: 62.5px;
  padding-bottom: 62.5px;
}

.contact-content {
  display: inline-block;
  width: 620px;
}

/* END Contact  */
/* Footer  */
footer {
  background-color: var(--grey);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  column-gap: 15px;
}

/* FOOTER MEDIA QUERIES  */

/* END Footer  */